@page
@model DBKINOTEATR.Pages.REPERTUAR_.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>REPERTUAR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="REPERTUAR.cena_bileta" class="control-label"></label>
                <input asp-for="REPERTUAR.cena_bileta" class="form-control" />
                <span asp-validation-for="REPERTUAR.cena_bileta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REPERTUAR.DATE" class="control-label"></label>
                <input asp-for="REPERTUAR.DATE" class="form-control" />
                <span asp-validation-for="REPERTUAR.DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REPERTUAR.vremya_nachala" class="control-label"></label>
                <input asp-for="REPERTUAR.vremya_nachala" class="form-control" />
                <span asp-validation-for="REPERTUAR.vremya_nachala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REPERTUAR.Vremya_okonchaniya" class="control-label"></label>
                <input asp-for="REPERTUAR.Vremya_okonchaniya" class="form-control" />
                <span asp-validation-for="REPERTUAR.Vremya_okonchaniya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
